.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(20, 40, 50);
}
.navbar ul{
    display: flex;
    list-style: none;
    
    

}
.navbar ul li a{
    margin-left: 15rem;
    text-decoration: none;
    color: white;
    font-size: 20px;

}
.logo{
    display: flex;
    align-items: center;
}